@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*
    CSS-Selectors:
    body {..            all body tags
    .class {..          all elements with class
    #id {..             all elements with id

    div.row {..         all elements div with class row
    div li a {..        all a tags child of li tags cild of div tags
    div.row * {..       all descendants of div tag with row class
    div > li {..        select all direct descendants (children)

    li, a {..           select all li elements and all a elements
*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
}

a, .btn-link {
    color: #0366d6;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*
    This is for AzureFileBrowser component.
    InputFile sub-component will not match to
    the FileBrowser specific (contained) CSS, thus
    we put it here.

*/
.drag-drop-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

/* Set the background color of Variant.Filled input fields */
.mud-input-filled {
    background-color: rgba(33, 150, 243, 0.04) !important;
}

/* Used when we have content that should touch borders, but it doesn't look nice for the button to do the same*/
.button-edge-margin-right {
    margin-right: 8px !important;
}

.button-edge-margin-left {
    margin-left: 8px !important;
}

.button-edge-margin-top {
    margin-top: 8px !important;
}

.button-edge-margin-bottom {
    margin-bottom: 8px !important;
}

.button-edge-margin {
    margin: 8px !important;
}

/* Make all dialogs scroll if they get too high. If this is somehow not wanted in a specific case,
    it can be overwritten with the style tag*/
.mud-dialog-content > .mud-container {
    max-height: 80vh;
    overflow: auto;
}